@media (max-width: 480px) {
  header {
    background: linear-gradient(
        180deg,
        var(--b-m) 5%,
        rgba(15, 15, 15, 0.4) 80%
      ),
      url(/assets/img/test-m.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    /* background-attachment: scroll; */
  }
  p {
    font-size: 14px;
  }
  .hero{
      margin-top: 80px;

    }
  .h-c {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .h-card {
    order: 2;
  }
  

  .logo {
    margin-left: 0;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .navbox {
    width: 100%;
    padding: 10px 10px 10px 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    background: linear-gradient(
        180deg,
        var(--b-m) 5%,
        rgba(15, 15, 15, 0.4) 80%
      ),
      url(/assets/img/test-t.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    /* background-attachment: fixed; */
  }
  p {
    font-size: 14px;
  }
    .hero{
      margin-top: 80px;

    }
  .h-c {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .h-card {
    order: 2;
  }
  .logo {
    margin-left: 0;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .navbox {
    width: 100%;
    padding: 10px 10px 10px 15px;
  }
}
