
@media (max-width: 480px) { 
    header {
            background:linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15,.1) 100%), url(/assets/img/test2.jpg);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            /* background-attachment: scroll; */

    }
        .logo{
            margin-left:0;
        }
    nav{
        display: none;
    }
    .menu{
    display: block;
    }
    .navbox{
    width: 100%;
    padding: 10px 30px 10px 15px;
    }
}


@media (min-width: 481px) and (max-width: 768px) { 
    header {
            background:linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15,.1) 100%), url(/assets/img/test.jpg);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            /* background-attachment: fixed; */
    }
        .logo{
            margin-left:0;
        }
    nav{
        display: none;
    }
    .menu{
        display: block;
}
    .navbox{
    width: 100%;
    padding: 10px 30px 10px 15px;
    }
}
