@media (max-width: 480px) {
  header {
    background: linear-gradient(
        180deg,
        var(--b-m) 5%,
        rgba(15, 15, 15, 0.4) 80%
      ),
      url(/assets/img/bg-m.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 135vh;
    /* background-attachment: scroll; */
  }
  p {
    font-size: 14px;
  }

.hero {
  margin-top: 75px;
  position: absolute;
      top: 0;
      left: 50%;
   transform: translateX(-50%);
}
.mt-mt h3{
  margin-left: 10px;
  font-size: 16px;
}

.mt-mt .mt-mt-box img{
  width: 90px;
}
/* swiper */
.sw-1{
  background: linear-gradient(180deg, var(--b-m) 10%, rgba(15, 15, 15, 0.5) 80%),url(/assets/img/bg-m.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
}
.sw-2{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b3-res.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sw-3{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b6-res.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sw-4{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
  .h-c {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .h-card {
    order: 2;
  }
  

  .logo {
    margin-left: 0;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .navbox {
    width: 100%;
    padding: 10px 10px 10px 15px;
  }
  .m-drop {
    display: flex;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {

    height: 130vh;
    /* background-attachment: fixed; */
  }
  p {
    font-size: 14px;
  }
.hero {
  margin-top: 75px;
  position: absolute;
      top: 0;
      left: 50%;
   transform: translateX(-50%);
}

.mt-mt h3{
  margin-left: 10px;
  font-size: 16px;
}

.mt-mt .mt-mt-box img{
  width: 90px;
}
/* swiper */
.sw-1{
  background: linear-gradient(180deg, var(--b-m) 10%, rgba(15, 15, 15, 0.5) 80%),url(/assets/img/bg-t.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
}
.sw-2{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b3-res.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sw-3{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b6-res.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sw-4{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
  .h-c {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .h-card {
    order: 2;
  }
  .logo {
    margin-left: 0;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .navbox {
    width: 100%;
    padding: 10px 10px 10px 15px;
  }
  .m-drop {
  display: flex;
  }
}
