@media (max-width: 480px) {
  header {
    height: 135vh;
  }
  p {
    font-size: 14px;
  }

.hero {
  margin-top: 100px;
  position: absolute;
      top: 0;
      left: 50%;
   transform: translateX(-50%);
}
.mt-mt h3{
  margin-left: 10px;
  font-size: 16px;
}

.mt-mt .mt-mt-box img{
  width: 90px;
}
/* swiper */
.sw-1{
  background: linear-gradient(180deg, var(--b-m) 10%, rgba(15, 15, 15, 0.4) 80%),url(/assets/img/bg-desk-480.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed;   */
}
.sw-2{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.4) 80%),url(/assets/img/b3-480.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.sw-3{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.4) 80%),url(/assets/img/b6-480.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.sw-4{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.4) 80%),url(/assets/img/b2-480.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
@supports (-webkit-touch-callout: none) {
  .sw-1, .sw-2, .sw-3, .sw-4 {
    background-attachment: scroll !important;
  }
}
  .h-c {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .h-card {
    order: 2;
  }
  

  .logo {
    margin-left: 0;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .navbox {
    width: 100%;
    padding: 10px 10px 10px 15px;
  }
  .m-drop {
    display: flex;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 48px 18px;
  }

  .g-left,
  .g-right {
    text-align: center;
    align-items: center;
    padding: 28px;
    min-height: auto;
  }

  .g-left, .g-right {
    transform: translateY(40px);
  }
    /* sections */
  .about{
  width: 100%;
  display: grid;
  padding: 10px 15px;
  grid-template-columns:1fr;
  gap: 10px;
  background: linear-gradient(180deg, rgba(209, 209, 223, 0.5) 0%, rgba(209, 209, 223, 0.5) 80%),url(/assets/img/ab-bg.webp);
}
.about .a1{
padding: 10px;
}
.about .a1 h1{
 font-size: 30px;
 text-align: center;
 font-weight: 900;
 line-height: 1.1;
 margin-bottom: 20px;
}
.about .a1 h3{
  color:var(--main) ;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
}
.about .a1 p{
  color: var(--g-t);
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
  text-align: center;
}
  .about .a2{
    padding: 10px;
 }
 .about .a2 .a2i {
  padding: 10px;
  gap: 8px;                  
  position: absolute;
  right: 15px;
  top: 15px;   
  font-size: 11px;
}

  .about .a2 .a2i .a2icon{
    color: var(--white);
    flex-shrink: 0;
  }
  .about .a2 img{
    border-radius: var(--radius);
    width: 100%;
  }
  /* footer */
  footer{
    padding: 10px;
  }
  .b-footer {
    grid-template-columns: 1fr;
    margin-top: 15px;
  }
    .m-footer{
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    height: 130vh;
  }
  p {
    font-size: 14px;
  }
.hero {
  margin-top: 75px;
  position: absolute;
      top: 0;
      left: 50%;
   transform: translateX(-50%);
}

.mt-mt h3{
  margin-left: 10px;
  font-size: 16px;
}

.mt-mt .mt-mt-box img{
  width: 90px;
}
/* swiper */
.sw-1{
  background: linear-gradient(180deg, var(--b-m) 10%, rgba(15, 15, 15, 0.5) 80%),url(/assets/img/bg-desk-768.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed;   */
}
.sw-2{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b3-768.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.sw-3{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b6-768.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.sw-4{
background: linear-gradient(180deg, var(--b-m) 0%, rgba(15, 15, 15, 0.7) 80%),url(/assets/img/b2-768.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
@supports (-webkit-touch-callout: none) {
  .sw-1, .sw-2, .sw-3, .sw-4 {
    background-attachment: scroll !important;
  }
}
  .h-c {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .h-card {
    order: 2;
  }
  .logo {
    margin-left: 0;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .navbox {
    width: 100%;
    padding: 10px 10px 10px 15px;
  }
  .m-drop {
  display: flex;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 48px 18px;
  }

  .g-left,
  .g-right {
    text-align: center;
    align-items: center;
    padding: 28px;
    min-height: auto;
  }


  .g-left, .g-right {
    transform: translateY(40px);
  }
    /* sections */
  .about{
  width: 100%;
  display: grid;
  padding: 10px 15px;
  grid-template-columns:1fr;
  gap: 10px;
  background: linear-gradient(180deg, rgba(209, 209, 223, 0.5) 0%, rgba(209, 209, 223, 0.5) 80%),url(/assets/img/ab-bg.webp);
}
.about .a1{
padding: 10px;
}
.about .a1 h1{
 font-size: 40px;
 text-align: center;
 font-weight: 900;
 line-height: 1.1;
 margin-bottom: 20px;
}
.about .a1 h3{
  color:var(--main) ;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.about .a1 p{
  color: var(--g-t);
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  text-align: center;
}
  .about .a2{
    padding: 10px;
 }
 .about .a2 .a2i {
  padding: 10px;
  gap: 8px;                  
  position: absolute;
  right: 20px;
  top: 20px;   
  font-size: 11px;
}

  .about .a2 .a2i .a2icon{
    color: var(--white);
    flex-shrink: 0;
  }
  .about .a2 img{
    border-radius: var(--radius);
    width: 100%;
  }

  /*footer  */
    footer{
    padding: 10px;
  }
 .b-footer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 15px;
  }
  .m-footer{
    font-size: 12px;
  }
}
